In [341]:
import numpy as np 
import pandas as pd 
import sklearn as sklearn
import re

from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

from subprocess import check_output
print(check_output(["ls", "data/"]).decode("utf8"))

test.csv
train.csv

In [342]:
# Display columns of titanic train data
file_path = 'data/train.csv'
titanic_data = pd.read_csv(file_path) 
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [343]:
# Extract Title
titles = []
name_column = titanic_data['Name']
for name in name_column:
    index1 = name.find(',')
    index2 = name.find('.')
    if (len(name) == 0 or index1 == -1 or index2 == -1):
        titles.append(" ")
    else:
        title = name[index1+2:index2]
        titles.append(title)

titanic_data['Title'] = titles

In [344]:
# Family size
titanic_data['FamilySz'] = titanic_data['SibSp'] + titanic_data['Parch'] + 1

# Fare Per person
titanic_data['TicketPrice'] = titanic_data['Fare'] / titanic_data['FamilySz']

# Age Squared
# titanic_data['AgeSq'] = titanic_data['Age'] * titanic_data['Age']

# Age times class
# titanic_data['AgeClass'] = titanic_data['Age'] * titanic_data['Pclass']

In [345]:
# Display updated columns of titanic train data
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked Title  FamilySz  \
0      0         A/5 21171   7.2500   NaN        S    Mr         2
1      0          PC 17599  71.2833   C85        C   Mrs         2
2      0  STON/O2. 3101282   7.9250   NaN        S  Miss         1
3      0            113803  53.1000  C123        S   Mrs         2
4      0            373450   8.0500   NaN        S    Mr         1

   TicketPrice   AgeSq  AgeClass
0      3.62500   484.0      66.0
1     35.64165  1444.0      38.0
2      7.92500   676.0      78.0
3     26.55000  1225.0      35.0
4      8.05000  1225.0     105.0

In [346]:
# Select preditors
select_predictors = ['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'FamilySz', 'TicketPrice', 'Title']
predictors = titanic_data[select_predictors]

# Select Prediction Target
y = titanic_data.Survived

In [347]:
# Convert the categorical data
one_hot_encoded_predictors = pd.get_dummies(predictors)

# handle missing data
from sklearn.preprocessing import Imputer
my_imputer = Imputer()
x = my_imputer.fit_transform(one_hot_encoded_predictors)

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state = 0)

# Define model
my_model = RandomForestRegressor()

# Fit model
my_model.fit(train_x, train_y)

# get predicted survival on test data
test_predictions = my_model.predict(test_x)
print(mean_absolute_error(test_y, test_predictions))

0.195067264574